# see http://docs.travis-ci.com/user/languages/java/
language: java
jdk:
  - oraclejdk8

# see http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

# see http://docs.travis-ci.com/user/notifications/
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/afba008a6e2518c22d4c
    on_success: always  # options: [always|never|change]
    on_failure: always  # options: [always|never|change]
    on_start: false     # default: false